
/**
 * 1. 样式都通过ID去限定
 * 2. 尽可能多使用直接子代选择器
 */



body {
    font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
}

@font-face {
    font-family: 'hoggen';
    src: url('../font/MiFie-Web-Font.eot') format('embedded-opentype'), url('../font/MiFie-Web-Font.svg') format('svg'), url('../font/MiFie-Web-Font.ttf') format('truetype'), url('../font/MiFie-Web-Font.woff') format('woff');
}
[class^="icon-"],
[class*=" icon-"] {
    font-family: hoggen;
    font-style: normal;
}
.icon-mobilephone::before {
    content: "\e908";
    font-size: 13px;
}

.icon-telephone::before {
    content: "\e909";
    font-size: 15px;
}

.icon-logo::before {
    content: "\e93e";
}

.icon-icon::before {
    content: "\e920";
}
/***
* 头部区域
*/
#header {
    height: 200px;
    /*background-color: #f0f0f0;*/
}

#header > .topbar {
    height: 40px;
    border-bottom:  1px solid #c0c0c0;
    line-height: 40px;
}
#header > .topbar > .container > .row > div {
     height: 40px;
    font-size: 12px;
    color: #888888;
 }
/*#header > .topbar > .container > .row > div:nth-of-type(2n){*/
    /*background-color: #f5f6f7;*/
/*}*/

#header .mobile-link > img {
    display: none;
    position: absolute;
    left: 50%;
    margin-left: -60px;
    top: 28px;
    z-index: 1001;
}
#header .mobile-link:hover >img {
    display: block;
}

#header a{
    color: #888888;
}


#header a:hover {
    text-decoration: none
}

/*测试样式
*/

section {
    height: 200px;
    background-color: #fff;
}



section:nth-of-type(2n+1){
    /*选择到第1.3.5.7.9.。。。*/
    background-color: #f5f6f7;
}

#footer {

}