
/*顶部start*/
.shortCut {
    height: 30px;
    line-height: 30px;
    background-color: #f1f1f1;
}

.dt,
.shortCut  {
    padding: 0 20px 0 10px;
    position: relative;
}
.dt, .titleRight {
    height: 30px;
    line-height: 30px;
}
.shortCut .triangle {
    font: 400 15px/15px "SimSun";
    position: absolute;
    /*background-color: green;*/
    top: 13px;
    right: 3px;
    width: 15px;
    height: 7px;
    overflow: hidden;
}

.shortCut s {
    position: absolute;
    top: -8px;
    left: 0;
}


.floatRight li {
    float: left;
    padding:0 10px;

}
.floatRight .myJd {
    position: relative;
    padding: 0 20px 0 10px;
}

.floatRight .telJd {
    padding: 0 20px 0 20px;
}
.tel {
    position: absolute;
    background: url("../images/sprite.png");
    left: 5px;
    top: 5px;
    height: 20px;
    width: 15px;

}

/*加floatRight 是因为权重问题，否则padding 0 无法生效*/
.floatRight .lineView {
    width: 1px;
    background-color: #ddd;
    height: 12px;
    margin-top: 9px;
    padding: 0;
}
/*顶部end*/

/*topbanner start*/
.topBanner {
    background-color: #8a25c6;
}
.topb {
    position: relative;
}
.close-banner {
    position: absolute;
    top: 5px;
    right: 0;
    width: 19px;
    height: 19px;
    background: url("../images/close.png") no-repeat;
}
.close-banner:hover {
    background-position: bottom;
}
/*topbanner end*/

/*<!--搜索部分-->*/
.logo {
    float: left;
    background: url("../images/logo.png") no-repeat 0 25px;
    width: 360px;
    height: 75px;
    padding-top: 25px;
    position: relative;
    background-color: white;
}

.jd_a {
    display: block;
    width: 270px;
    height: 60px;
    text-indent: -2000em;
}

.db11 {
    position: absolute;
    top: 10px;
    left: 168px;
    background: white;
    width: 180px;
    height: 80px;
}

.search {
    width: 538px;
    height: 35px;
    background-color: white;
    float: left;
    padding-top: 25px;
}

.search input {
    width: 450px;
    height: 32px;
    border: 2px solid #B61D1D;
    color: #666;
    font: 14px/32px "microsoft yahei";
    padding-left: 4px;
    float: left;
}

.search button {
    width: 80px;
    height: 36px;
    float: left;
    background-color: #B61D1D;
    cursor: pointer; /* 鼠标变成小手*/
    font: 16px/36px "microsoft yahei";
    color: #fff;
}


.cart {
    width: 96px;
    padding-left: 43px;
    position: relative;
    height: 34px;
    line-height: 34px;
    border: 1px solid #DFDFDF;
    float: right;
    margin: 25px 65px 0 0;
}

.icon1 {
    position: absolute;
    top: 10px;
    left: 20px;
    width: 16px;
    height: 13px;
    background: url("../images/sprite.png") no-repeat -1px -59px;
}

.icon2 {
    font: 400 13px/13px simsun;
    position: absolute;
    right: 10px;
    top: 10px;
}

.icon3 {
    position: absolute;
    height: 14px;
    width: 16px;
    background-color: #C81623;
    line-height: 14px;
    text-align: center;
    color: #ffffff;
    top: -4px;
    font-size: 12px;
    border-radius: 7px 7px 7px 0;
}

/*搜索部分结束*/
