* {
    padding: 0;
    margin: 0;
}

.article {
    width: 500px;
    height: 60px;
    border: 1px solid black;
    margin: 100px;
    line-height: 60px;
}

.country {
    /*width: 500px;*/
    /*height: 25px;*/
    border: 1px solid black;
    margin: 100px;
    /*line-height: 25px;*/
    /*font-size: 14px;*/
    /*font:14px/48px "宋体" ;*/
    /*font:14px/400% "宋体" ;*/
    font:14px/400% "Arial","Microsoft YaHei","SimSun" ;
}

/*CSS中，所有的行，都有行高。盒模型的padding，绝对不是直接作用在文字上的，
而是作用在“行”上的。
文字，是在自己的行里面居中的。比如，现在文字字号14px，行高是24px
为了严格保证字在行里面居中，我们的工程师有一个约定： 行高、字号，一般都是偶数
。这样，它们的差，就是偶数，就能够被2整除。

需要注意的是，这个小技巧，行高=盒子高。  只适用于单行文本垂直居中！！不适用于多行。
如果想让多行文本垂直居中，需要设置盒子的padding：
*/



/*
    font属性
    ● 使用font属性，能够将字号、行高、字体，能够一起设置。
    font: 14px/24px “宋体”;
    等价于：
    font-size:14px;
    line-height:24px;
    font-family:"宋体";

    ● 为了防止用户电脑里面，没有微软雅黑这个字体。就要用英语的逗号，隔开备选字体，
    就是说如果用户电脑里面，没有安装微软雅黑字体，那么就是宋体：
    font-family: "微软雅黑","宋体";

    ● 我们要将英语字体，放在最前面，这样所有的中文，就不能匹配英语字体，就自动的变为后面的中文字体：
    font-family: "Times New Roman","微软雅黑","宋体";

    ● 行高可以用百分比，表示字号的百分之多少。一般来说，都是大于100%的，因为行高一定要大于字号。
    font:12px/200% “宋体”
    等价于
    font:12px/24px “宋体”



*/
a:link {
    color:red;
}

a:visited {
    color:orange;
}

a:hover {
    color:green;
}
a:after {
    color:blue;
}

/*
    伪类：
    也就是说，同一个标签，根据用户的某种状态不同，有不同的样式。这就叫做“伪类”。
    类就是工程师加的，比如div属于box类，很明确，就是属于box类。但是a属于什么类？不明确
    。因为要看用户有没有点击、有没有触碰。所以，就叫做“伪类”。
    伪类用冒号来表示。
    a标签有4种伪类，
    		a:link{
			color:red;
		}
		a:visited{
			color:orange;
		}
		a:hover{
			color:green;
		}
		a:active{
			color:black;
		}

		:link  	表示， 用户没有点击过这个链接的样式。 是英语“链接”的意思。
    :visited	表示， 用户访问过了这个链接的样式。 是英语“访问过的”的意思。
    :hover	表示， 用户鼠标悬停的时候链接的样式。 是英语“悬停”的意思。
    :active	表示， 用户用鼠标点击这个链接，但是不松手，此刻的样式。 是英语“激活”的意思。

    记住，这四种状态，在css中，必须按照固定的顺序写：
    a:link 、a:visited 、a:hover 、a:active
    如果不按照顺序，那么将失效。“爱恨准则”love hate。必须先爱，后恨。


    2.2 超级链接的美化
    a标签在使用的时候，非常的难。因为不仅仅要控制a这个盒子，也要控制它的伪类。
    我们一定要将a标签写在前面，:link、:visited、:hover、:active这些伪类写在后面。
    a标签中，描述盒子； 伪类中描述文字的样式、背景。
    记住，所有的a不继承text、font这些东西。因为a自己有一个伪类的权重。

    最标准的，就是把link、visited、hover都要写。但是前端开发工程师在大量的实践中，
    发现不写link、visited浏览器也挺兼容。所以这些“老油条”们，就把a标签简化了：
    a:link、a:visited都是可以省略的，简写在a标签里面。也就是说，a标签涵盖了link、visited的状态。

*/

div{
    width: 680px;
    height: 800px;
    border: 1px solid #000;
    margin: 20px;
}

.box1{
    width: 150px;
    height: 60px;
    border: 1px solid #000;
    background-image: url(images/1.jpg);
    background-repeat: no-repeat;
    background-position: -100px -220px;
}
.box2{
    background-color: rgb(255,0,0);
}
.box3{
    background-color: #ff0000;
}


/*背景天生是会被平铺满的。

padding的区域有背景图。


3.4 background-position属性
3.4.1 属性的意思
背景定位属性，是最难的属性。

background-position:向右移动量 向下移动量;

描述左右的词儿： left、 center、right
描述上下的词儿： top 、center、bottom


定位属性可以是负数：


“css精灵”，英语css sprite，所以也叫做“css雪碧”技术。是一种CSS图像合并技术，
该方法是将小图标和背景图像合并到一张图片上，然后利用css的背景定位来显示需要显示的图片部分。
css精灵有什么优点，就是减少了http请求。比如4张小图片，原本需要4个http请求。但是用了css精灵，
小图片变为了一张图，http请求只有1个了。

3.5 background-attachment
背景是否固定。

背景就会被固定住，不会被滚动条滚走。

*/